* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: bolder;
}
:root {
  color: black;
  --height: 750px;
  --width: 750px;


}
header{
  background-color: #718096;
  color: white;
  font-size: 20px;

}
.graident-color{
  height: 1250px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,31,45,0.5944502801120448) 45%, rgba(2,0,36,1) 100%);

}

ul {
list-style-type: none;
display: flex;
justify-content: flex-end; 

}
ul li {
    padding: 10px
  }

body {

}
main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

}

.bio-container {
  justify-content: center;
  border: solid black 2px;
  width: var(--width);
  height: var(--height);

}
.feature-container {
  justify-content: center;
  border: solid black 2px;
  width: var(--width);
  height: 500px;
  display: flex;
  flex-direction: row;
}

.feature-container .box {
  width: 250px;
  height: 470px;
  border: solid black 1px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feature-container img {
  width: 150px;
  height: 150px;
  

}

.extracontainer {
    justify-content: center;
    border: solid black 2px;
    width: var(--width);
    height: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

.extracontainer .box {
  height: 375px;
  width: 725px;
  border: solid black 1px;
  margin: 10px; 
  }
.extracontainer figure {
  position: relative;
}
.feature-container figure img{
  transition: box-shadow 0.3s ease;
} 

 
.extracontainer figure img {
 
  position: relative;
  float: right;
  transition: box-shadow 0.3s ease;
  margin-top: 10px;
  margin-right: 10px;
}
.feature-container figure.box img:hover, 
.extracontainer figure.box img:hover {
  -webkit-box-shadow: 18px 18px 5px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 18px 5px 8px rgba(0,0,0,0.75);
  box-shadow: 18px 18px 5px 8px rgba(0,0,0,0.75);
}


img {
  width: 400px;
  height: 200px;
  border-radius: 15%;
}
h2{
  color:orange;
  position: relative;
  width: 750px;
  margin-left: 25px;
}
footer{
  background-color: gray;
  height: 200px;
}
figcaption {
  margin-top: 25px;
  margin-bottom: 25px;
}
.extracontainer figure.box figcaption {
  margin-right:300px;
}

a {
font-size: 18px;
}
@media screen and (max-width: 768px) {
  .feature-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .feature-container .box {
    width: auto;
    height: auto;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .feature-container .box img {
    align-items: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .extracontainer figure img {
    float: none;
  }
}