* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: bolder;
}
header{
  background-color: #718096;
  color: white;
  font-size: 20px;

}


ul {
display: flex;
justify-content: flex-end; 

}
ul li {
    padding: 10px;
    list-style-type: none;
  }
  header nav a, footer nav a {
    text-decoration: none;
    color: white;
  
  }


.graident-color{
  height: 1250px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,31,45,0.5944502801120448) 45%, rgba(2,0,36,1) 100%);

}
h1 {
  font-size: 75px;
}

main { 
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 50px;

}

.bio-container {
  border: solid black 2px;
  width: 750px;
  height: 750px;

}
.bio-container figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bio-container img{
  height: 250px;
  width: 250px;
  padding: 10px;
  float: left;
}
.bio-container figure figcaption, .bio-container figure h3 {
  padding-left: 20px;

}
.bio-container h3 {
  padding: none
}
.feature-container {
  justify-content: center;
  border: solid black 2px;
  width: 750px;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.feature-container .box {
  width: 250px;
  height: 450px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feature-container figcaption {
  max-width: 100%;
  word-wrap: break-word;
  height: 150px;
  width: 150px;
  margin: 20px;
}

.feature-container img {
  width: 150px;
  height: 150px;
  

}
.feature-container figcaption {
  max-width: 100%;
  word-wrap: break-word;
  height: 150px;
  width: 150px;
  margin: 20px;
}


.extracontainer {
  justify-content: center;
  border: solid black 2px;
  width: 750px;
  height: 1420px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  }

.extracontainer .box {
  height: 500px;
  width: 725px;
  margin: 10px; 
  }
.extracontainer .box:nth-child(4) {
  height: 375px;
  width: 725px;
}
.extracontainer .box:nth-child(6) {
  height: 375px;
  width: 725px;
}

.extracontainer figure img {
 
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.feature-container figure img,.extracontainer figure img, .contact figure.box img:hover {
  transition: box-shadow 0.3s ease;
} 

.feature-container figure.box img:hover, 
.extracontainer figure.box img:hover, 
.contact figure.box img:hover{
  -webkit-box-shadow: 18px 18px 5px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 18px 5px 8px rgba(0,0,0,0.75);
  box-shadow: 18px 18px 5px 8px rgba(0,0,0,0.75);
}

.big-img {
  height: 300px;
  width: 300px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 15%;
}
h2{
  color:orange;
  width: 750px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom:10px;

}
footer{
  background-color: gray;
  height: 200px;
}
figcaption {
  margin-top: 25px;
  margin-bottom: 25px;
}
.extracontainer figure.box figcaption {
  margin-right:300px;
}
.contact {
  height: 400px;
  width: 750px;
}
.contact img {
  float:right

}

html {
  scroll-behavior: smooth;
}


@media screen and (max-width: 768px) {
  .feature-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .feature-container .box {
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .feature-container .box img {
    align-items: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .extracontainer figure img {
    float: none;
    
  }
}

@media screen and (max-width: 768px) {
  .bio-container figure {
    flex-direction: row;
    flex-wrap: wrap;

}
}

@media screen and (max-width: 768px) {
  .bio-container figure {
    flex-wrap: wrap;
  }
}



@media screen and (max-width: 768px) {

.extracontainer figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
}